*.pyc
mdn_visualizations/
saved_visualizations/
saved_models/
venv/
*.npy



archived
**.gif
**.png
generative_handwriting/prediction_visualizations/
handwriting-synthesis
scribe
prediction_frames
prediction_visualizations
